
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.logo-nav {
  background-color: #f72210;
  padding: 0 20px;
  width: 95vw;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: white;
  }

  .navbar-brand {
    font-size: 4em;
    font-family: 'Merriweather', serif;
    font-weight: 900;
  }

  time {
    color: white;
    margin-top: 50px;
  }

  .login {
    font-weight: 600;
    font-size: 1.1em;
  }

  .subscribe {
    background-color: gold;
    border-radius: 100px;
    font-weight: 700;
    padding: 3px 30px;
  }
}

.middle-nav {
  margin: 0 35px;
  border-bottom: 1px solid lightgray;

  ul {
    li {
      border-right: 1px solid lightgray;
      padding: 0 10px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: black;
        font-weight: 700;
        font-size: 1.1em;
      }
    }

    .search {
      border: none;
    }
  }
}

.last-nav {
  padding: 0 0 0 60px;

  ul {
    li {
      padding: 0 10px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: gray;
        font-weight: 600;
        font-size: 1em;

        &:hover {
          color: #f72210;
        }
      }
    }

    .trending {
      color: black;
      font-weight: 600;
    }
  }
}

footer {
  width: 95vw;
  margin: 0 auto;

  .footer-brand {
    color: #f72210;
    font-size: 3em;
    font-family: 'Merriweather', serif;
    padding-left: 0;
    margin-right: 0;
  }

  .logo-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .copy-right {
      align-self: flex-end;
      padding-bottom: 20px;
      padding-left: 10px;
      font-size: 0.7em;
    }
  }

  .row {
    padding: 0;
    justify-content: space-between;
  }

  .middl-footer-links {
    ul {
      li {
        .items2 {
          color: gray;
          font-size: 0.9em;
        }
      }
    }

    .edition {
      color: black;
      font-weight: 600;
    }
  }

  i {
    color: gray;
    margin-left: 18px;
  }
}

.last-footer-links {
  margin-bottom: 50px;

  .nav {
    .nav-item {
      border-right: 1px solid lightgray;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .nav-link {
        font-size: 0.8em;
        color: gray;
      }
    }
  }
}
