body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Condensed, sans-serif;
  background-color: #f4f5f6;
}

section {
  background-color: white;
}

.head-text {
  font-size: 0.9em;
  color: gray;
  font-weight: 700;
}

/* nav bar styling */
.logo-nav {
  background-color: #f72210;
  width: 95vw;
  margin: 0 auto;
  padding: 0 30px;
}

.logo-nav a {
  text-decoration: none;
  color: white;
}

.logo-nav time {
  color: white;
}

.logo-nav .navbar-brand {
  font-size: 4em;
  font-weight: 800;
}

.login {
  display: none;
}

.logo-nav .login {
  font-weight: 600;
}

.hamburger {
  font-size: 1.3em;
  color: white;
  opacity: 0.6;
  margin-left: 10px;
}

.mobile-log {
  font-size: 1.2em;
  font-weight: 800;
}

/* middle nav bar styling */
.middle-nav {
  width: 95vw;
  margin: 0 auto;
}

.middle-nav .nav-item {
  border-right: 1px solid lightgray;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .middl-footer-links .nav-link {
  text-decoration: none;
  color: gray;
  font-size: 0.8em;
}

footer .last-footer-links .nav-link {
  text-decoration: none;
  color: gray;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  border-right: 1px solid lightgray;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-nav .nav-item .nav-link {
  color: black;
  font-weight: 700;
  font-size: 1.1em;
  padding: 0 15px;
}

.logo-nav .subscribe {
  color: black;
  padding: 6px 20px;
  font-weight: 600;
  border-radius: 50px;
}

/* last nav bar styling */
.last-nav {
  width: 95vw;
  margin: 0 auto;
}

.last-nav .nav-item {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-nav .nav-item .nav-link {
  color: gray;
  font-weight: 700;
  font-size: 1em;
  padding: 0 10px;
}

.mob {
  display: none;
}

.time {
  display: none;
}

/* main body styling  */

.left-sidebar {
  border: 1px solid blue;
}

.right-sidebar {
  border: 1px solid green;
}

.main-setion-container {
  width: 85vw;
  margin: 0 auto;
}

.main-row-section {
  display: flex;
  justify-content: space-around;
}

.card {
  padding: 0;
  border: none;
}

.main-row-section .head-text {
  color: gray;
  font-size: 1em;
  font-weight: 600;
}

.card .img-container {
  height: 200px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.card .img-container .category {
  height: 27px;
  background-color: rgb(238, 238, 238);
  position: absolute;
  align-self: flex-end;
  color: red;
  font-weight: 800;
  padding: 10px;
}

.card .card-body {
  padding: 0;
}

.right-side-hori h5 {
  font-size: 0.9em;
}

.card .card-body h5 {
  font-weight: 700;
  color: black;
  padding: 5px 0;
  font-size: 1.4em;
}

.right-side-hori p {
  font-weight: 600;
}

.cat-and-section p {
  text-decoration: none;
  font-size: 0.6em;
  font-weight: 700;
  background-color: #f72210;
  color: white;
  padding: 0 5px;
  margin-top: 10px;
  margin-right: 10px;
}

section .headings p {
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  margin-top: 15px;
}

.card .card-body p {
  font-size: 0.9em;
}

.sponsored {
  border: 1px solid lightgray;
}

.sponsored .card-body {
  padding: 0 15px;
}

.sponsored .sponsore {
  color: blue !important;
  opacity: 0.6;
}

.middle-section-main-card .img-container {
  height: 290px;
}

.mini-card h3 {
  font-size: 0.9em;
  font-weight: 700;
  color: gray;
  padding-top: 5px;
}

.culture {
  display: flex;
}

.culture .img-container {
  height: 130px;
}

.culture .card h5 {
  font-size: 0.9em;
  font-weight: 700;
  color: gray;
  padding-top: 5px;
}

.horizontal-card {
  border-bottom: 1px solid lightgray;
  padding: 12px 0;
}

.horizontal-card .card-body h5 {
  font-size: 1em;
}

.horizontal-card .card-body p {
  font-size: 0.8em;
}

.align-items-center img {
  border-radius: 100%;
}

.righ-bar-wrapper {
  margin: 0;
  padding: 0;
}

.righ-bar-wrapper .row {
  --bs-gutter-x: 0;
}

.right-side-hori img {
  height: 70px;
  width: 70px;
}

.right-side-horizotal {
  border: 0;
  padding: 0 !important;
  margin: 0 !important;
}

.top-section {
  border-bottom: 3px solid lightgray;
  border-top: 3px solid lightgray;
  padding: 0 0;
}

.second-section {
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.second-section .horizontal-card {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid lightgray;
}

.second-section .right-side-form {
  background-color: rgb(241, 241, 241);
  width: 80%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.second-section .right-side-form .form-label {
  font-weight: 800;
  font-size: 0.8em;
}

.second-section .right-side-form button {
  font-weight: 600;
  background-color: #f72210;
  color: white;
  height: 30px;
}

.second-section .right-side-form img {
  width: 30px;
}

.second-section .right-side-form input {
  height: 30px;
}

.form-row {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.sponsore-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.head {
  width: 20%;
}

.text-img {
  width: 50%;
}

.right-side-bar-text-card {
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 25px;
}

.right-side-bar-text-card a {
  text-decoration: none;
}

.right-side-bar-text-card a h3 {
  font-size: 1.2em;
  color: black;
  font-weight: 800;
}

/* .magazine-section stylin` */

.magazine-section {
  width: 85vw;
  margin: 0 auto;
}

.cat-and-section {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

.mobile-display {
  display: none;
}

.cat-and-section a {
  text-decoration: none;
  color: #f72210;
  font-weight: 800;
  font-size: 0.8em;
}

.magazine-section .card-body .card-title {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 1em;
  line-height: 5px;
}

.magazine-section .img-container {
  height: 310px;
}

.magazine-section .sun-img {
  margin-top: 70px;
}

section .heading-img {
  width: 25px;
  text-align: center;
  margin-right: 10px;
}

.headings {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid lightgray;
}

.editor-pick .card .card-body .header {
  font-size: 1em;
  font-weight: 800;
  margin-top: 10px;
}

.news-category .main-card img {
  height: 230px;
}

.news-category .main-card .card-title {
  font-size: 1.1em;
  margin-top: 10px;
}

.news-category .hori-card-wrapper .card-body .card-title {
  font-size: 0.9em;
}

.news-category .news-cat-head {
  font-weight: 700;
  font-size: 1.2em;
  color: #f72210;
}

.news-category .horizontal-card {
  border: none;
}

.news-category .biden img {
  height: 250px;
}

.news-category .biden {
  background-color: rgb(250, 250, 250);
  border: none;
  padding: 30px 40px;
}

.news-category .biden .card-body .card-title {
  font-weight: 700;
  font-size: 1.3em;
}

.news-category .news-letter .card-body .card-title {
  font-weight: 700;
  font-size: 1.5em;
}

.news-category .biden .card-body p {
  font-size: 0.9em;
}

.horizontal-card .card-body .btn {
  background-color: #f72210;
  color: white;
  font-weight: 700;
}

.news-category .news-letter {
  border: 1px solid lightgray;
  padding: 0;
}

.news-category .news-letter .card-body {
  padding: 0 15px;
}

.news-category .news-letter .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-category .news-letter .row input {
  width: 80%;
  font-size: 0.8em;
  margin-bottom: 10px;
}

.news-category .biden .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer section styling */

footer {
  width: 85vw;
  margin: 0 auto;
}

footer .footer-top {
  border-bottom: 1px solid lightgray;
}

footer .footer-brand {
  color: #f72210;
  font-size: 2.5em;
  font-weight: 800;
  margin-right: 10px;
}

footer .copy-right {
  padding-top: 15px;
  font-size: 0.7em;
}

footer .socials .fab {
  color: gray;
  padding-left: 10px;
  font-size: 1.1em;
}

@media screen and (max-width: 790px) {
  .main-setion-container {
    width: 95vw;
  }

  .navbar-brand {
    display: none;
  }

  .time {
    display: none;
  }

  .login {
    display: none;
  }

  .main-setion-container .col-md-5 {
    flex: 0 0 auto;
    width: 38%;
  }

  .right-side-hori .col-md-3 {
    width: 13%;
  }

  .form-row {
    margin-left: 25%;
  }

  .magazine-section .sun-img .card img {
    height: 160px;
  }

  .magazine-section .card-body .card-title {
    font-size: 0.9em;
  }

  .cat-and-section a {
    font-size: 0.7em;
  }

  .cat-and-section p {
    font-size: 0.5em;
  }

  .news-letter {
    height: 250px;
  }

  .news-letter .new-letter-card-img {
    width: 90%;
    height: 250px;
  }

  .logo-nav {
    width: 100vw;
    padding: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .logo-nav .subscribe {
    color: black;
    padding: 6px 10px;
    font-weight: 600;
    font-size: 0.8em;
  }

  .form-row {
    margin-left: 0;
  }

  .navbar-brand {
    display: none;
  }

  .time {
    display: none;
  }

  .login {
    display: none;
  }

  .middle-section-wrapper {
    order: 1;
  }

  .left-bar-wrapper {
    order: 2;
  }

  .right-bar-wrapper {
    order: 3;
  }

  .horizontal-card-section {
    order: 4;
    width: 95%;
  }

  .mobile-display {
    display: block;
  }

  .magazine-section {
    width: 95vw;
    margin: 0 auto;
  }

  .horizontal-card-section .card h5 {
    font-size: 1em;
  }

  .horizontal-card-section .card-body {
    padding: 0;
    margin: 0;
  }

  .horizontal-card-section .horizontal-card .img-wrapper {
    border: 1px solid blue;
    width: 30%;
  }

  .right-side-hori .card-body {
    margin-left: 35px;
  }

  .default-card .card-body h5 {
    font-size: 0.9em;
  }

  .default-card .card-body p {
    font-size: 0.6em;
  }

  .right-side-hori .card-body p {
    font-size: 0.7em;
  }

  .card-content {
    flex-wrap: nowrap;
  }

  .card-content .img {
    border: 1px solid blue;
    padding: 0;
    width: 30%;
    margin: 0;
    margin-left: 11px;
    height: 80px;
  }

  .card-content .img img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .right-side-hori {
    flex-wrap: nowrap;
  }

  .img-cont {
    height: 100px;
    margin: 0;
    padding-right: 0;
  }

  .magazine-section .sun-img .card img {
    height: 218px;
  }

  .news-letter-wrapper {
    margin-bottom: 200px;
  }

  .news-letter .new-letter-card-img {
    width: 100%;
    height: 200px;
  }

  .card .card-body p {
    font-size: 0.8em;
  }
}
