
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  width: 95vw;
  margin: 0 auto;
  margin-top: 30px;
}

.mobile-log {
  display: none;
}

.logo-nav {
  background-color: #f72210;
  padding: 0 20px;
  width: 95vw;
  margin: 0 auto;
  top: 0;
  z-index: 10;

  a {
    text-decoration: none;
    color: white;
  }

  .brand-name {
    font-size: 4em;
    font-family: 'Merriweather', serif;
    font-weight: 900;
  }

  time {
    color: white;
    margin-top: 50px;
  }

  .login {
    font-weight: 600;
    font-size: 1.1em;
  }

  .subscribe {
    border-radius: 100px;
    font-weight: 700;
    padding: 3px 20px;
    color: black;
  }
}

.user {
  display: none;
}

.hamburger {
  display: none;
  color: rgb(233, 233, 233);
  opacity: 0.6;
  font-size: 1.1em;
  padding-left: 10px;
}

.middle-nav {
  margin: 0 35px;
  border-bottom: 1px solid lightgray;

  ul {
    li {
      border-right: 1px solid lightgray;
      padding: 0 10px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: black;
        font-weight: 700;
        font-size: 1em;
      }
    }

    .search {
      border: none;
    }
  }
}

.last-nav {
  padding: 0 0 0 60px;

  ul {
    li {
      padding: 0 10px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: gray;
        font-weight: 600;
        font-size: 1em;

        &:hover {
          color: #f72210;
        }
      }
    }

    .trending {
      color: black;
      font-weight: 600;
    }
  }
}

.card-img-overlay {
  margin-top: 55%;
}

.sponsore {
  border: 1px solid lightgray;
}

footer {
  width: 95vw;
  margin: 0 auto;

  .footer-brand {
    color: #f72210;
    font-size: 3em;
    font-family: 'Merriweather', serif;
    padding-left: 0;
    margin-right: 0;
  }

  .logo-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .copy-right {
      align-self: flex-end;
      padding-bottom: 20px;
      padding-left: 10px;
      font-size: 0.7em;
    }
  }

  .row {
    padding: 0;
    justify-content: space-between;
  }

  .middl-footer-links {
    ul {
      li {
        .items2 {
          color: gray;
          font-size: 0.9em;
        }
      }
    }

    .edition {
      color: black;
      font-weight: 600;
    }
  }

  i {
    color: gray;
    margin-left: 18px;
  }
}

.last-footer-links {
  margin-bottom: 50px;

  .nav {
    .nav-item {
      border-right: 1px solid lightgray;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .nav-link {
        font-size: 0.7em;
        color: gray;
      }
    }
  }
}

// main body styling

.card {
  border: 0;

  .card-body {
    padding: 0;
  }

  .header {
    font-weight: 700;
    font-size: 1.2em;
  }

  .sub-text {
    font-size: 0.9em;
  }
}

.category {
  height: 20px;
  width: 50px;
  background: black;
}

.section-header {
  color: rgb(192, 191, 191);
  font-size: 1em;
}

.hor-thumbnail-img {
  width: 20%;
  height: 100%;
}

.horizontal-card {
  border-bottom: 1px solid lightgray;
  padding: 20px 0;
  margin-left: 20px;
  margin-bottom: 20px;

  h5 {
    font-size: 1em;
    font-weight: 700;
  }

  p {
    font-size: 0.8em;
  }
}

.mini-card-section {
  margin-bottom: 50px;
}

.mini-card {
  .header {
    font-size: 0.9em;
    color: gray;
  }
}

.latest {
  margin: 15px 0;
}

.inner-div {
  align-items: center;

  .card-img {
    border-radius: 100%;
  }
}

.card-title {
  font-size: 1em;
  font-weight: 700;
}

.side-bar-hr {
  border: 2px solid lightgray;
}

.side-bar-top-section {
  border-top: 3px solid lightgray;
  border-bottom: 3px solid lightgray;
  margin-left: 20px;
}

.opinion-card {
  border-bottom: 1px solid lightgray;
  margin-left: 20px;
}

.right-side-form {
  border: 1px solid lightgray;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  input {
    height: 30px;
  }

  label {
    font-weight: 800;
  }

  .btn {
    font-weight: 700;
    background-color: #f72210;
    color: white;
  }
}

.form-row {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-logo {
  width: 10%;
}

.right-side-bar-text-card {
  border: 1px solid lightgray;

  a {
    text-decoration: none;
    color: black;

    h3 {
      font-weight: 700;
      font-size: 1.5em;
    }
  }
}

.sponsore-card {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      width: 50%;
    }

    .head {
      width: 30%;
    }
  }
}

@media screen and (max-width: 980px) {
  .time {
    display: none;
  }

  .brand-name {
    display: none;
  }

  .middle-nav {
    display: none;
  }

  .mobile-log {
    display: inline-block;
    font-weight: 800;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
  }

  .logo-nav {
    width: 100vw;
    height: 40px;
    padding: 0 10px;
  }

  .subscribe {
    padding: 0;
    font-size: 0.8em;
    color: black;
  }

  .login {
    font-weight: 600;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 768px) {
  .righ-sidebar {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login {
    display: none;
  }

  .subscribe {
    padding: 0;
    font-size: 0.8em;
    color: black;
  }

  .mobile-log {
    font-size: 1em;
    font-weight: 700;
    font-family: 'Merriweather', serif;
  }

  .user {
    display: inline-block;
  }

  .hamburger {
    display: inline-block;
  }

  .featured {
    order: 2;
  }

  .middle-section {
    order: 1;
  }
}
